# Important Requirements Telethon & Pyrogram
pyrogram==1.4.16
telethon==1.24.0
heroku3
pymongo[srv]
psycopg2-binary
redis>=3.3.10
python-dotenv
python-decouple==3.3
ublackdev
pillow>=7.0.0
emoji==1.7.0
bs4
markdown
jikanpy
moviepy
html_telegraph_poster
telegraph==2.1.0
validators
ujson
youtube_dl==2021.6.6
youtube-search-python==1.4.7
pytz
requests
httpx
pytube
