# Important Requirements Telethon & Pyrogram
Telethon==1.24.0
pyrogram==1.4.16
pymongo[srv]
psycopg2-binary
redis>=3.3.10
telethon-session-sqlalchemy
sqlalchemy-json
sqlalchemy==1.3.23
python-decouple==3.3
wand
emoji==1.7.0
aiofiles
aiohttp
cloudscraper
colour
covid
motor>=2.3.1
bs4
cowpy
dataclasses
DateTime
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
yt-dlp==2021.11.10.1
gtts
hachoir
heroku3
ublackdev
html-telegraph-poster
humanize
jikanpy
justwatch
lottie
lyricsgenius
motor
moviepy
nekos.py
Pillow
prettytable
prsaw
psutil
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
search-engine-parser
selenium
setuptools
ShazamAPI
spamwatch
speedtest-cli
telegraph
ffmpeg-python
wheel
TgCrypto
tswift
ujson
urlextract
vcsi
wget
wikipedia
lyrics_extractor
youtube-search-python==1.4.7
youtube_dl==2021.6.6
pyyaml==5.4.1
countryinfo
emoji-country-flag
tinydb>=4.4.0
NoteShrinker>=0.2.0
img2pdf>=0.4.0
filesplit
google-trans-new==1.1.9
googletrans>=3.0.0
pyshorteners>=1.0.1
langdetect>=1.0.8
faker>=6.6.2
gpytranslate==1.4.0
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
pybase64
validators
twitter_scraper
