# Important Requirements Telethon & Pyrogram
# A File
aiofiles
aiohttp

# B
bs4
bing-image-downloader

# C
cloudscraper
colour
covid
cowpy
countryinfo
currencyconverter

# D
dataclasses
DateTime
deep_translator

# E
emoji==1.7.0
emoji-country-flag

# F
fonttools
filesplit
ffmpeg-python
faker>=6.6.2

# G
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
google-trans-new==1.1.9
googletrans>=3.0.0
gpytranslate==1.4.0
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git-python

# H
hachoir
heroku3
html-telegraph-poster
humanize
httpx


# I
img2pdf>=0.4.0

# J
jikanpy
justwatch

# L
lyrics_extractor
lottie
lyricsgenius
langdetect>=1.0.8

# M
motor
moviepy

# N
nekos.py
NoteShrinker>=0.2.0

# P
Pyrogram==2.0.106
pymongo[srv]
psycopg2-binary
Pillow
prettytable
prsaw
psutil
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
python-dotenv
pytz
python-decouple==3.3
Pyyaml
pyshorteners>=1.0.1
pyshorteners>=1.0.1
pybase64
pyDownload
pytube
pysimplelog
pytgcalls==3.0.0.dev24

# Q 
qrcode

# R
redis>=3.3.10
regex
requests
ryoishin

# S
search-engine-parser
selenium
setuptools
ShazamAPI
spamwatch
speedtest-cli==2.1.3

# T
git+https://github.com/iiMansiz/Telethon@test
telegraph
TgCrypto
tswift
tinydb>=4.4.0
twitter_scraper

# U
ublackdev
ujson
urlextract

# V
validators
vcsi

# W
wand
wheel
wget
wikipedia
wikipedia-api

# Y
yt-dlp
youtube-search-python
youtube_dl==2021.6.6
